@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Fellix';
  src: url('/Fellix-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fellix';
  src: url('/Fellix-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fellix';
  src: url('/Fellix-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fellix';
  src: url('/Fellix-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fellix';
  src: url('/Fellix-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --background-secondary: #F1F3F8; 
  --foreground: #171717;
  --background-secondary: #F7F8FC;
  --primary: #00B388;
  --primary-dark: #101820;
  --primary-dark-2: #101820;
  --primary-light: #ECECEA;
  --secondary: #333333;
  --secondary-medium: #5C6266;
  --secondary-light: #D0D0D0;
  --secondary-lighter: #EEEFEF;
  --black: #000000;
  --gray: #D9D9D6;
  --gray-light: #D3D5DC;
  --gray-dark: #101820;
  --gray-30: #7B8CA6;
  --gray-stroke: #979797;
  --gray-50: #D9D9D680; 
  --gray-50-rgb: 228, 242, 248;
  --accent: #E68354;
  --accent-light: #FFF0E8;
  --white: #FFFFFF;
  --white-70: #FFFFFFB3; 
  --blue: #345BC2;
  --pink: #FF7B7B;
  --green: #00B388;
  --font-fellix: 'Fellix', sans-serif;
  --gradient-hero-bg: linear-gradient(180deg, #E4F2F8 0%, #E4F2F8 0%, #E4F2F8 0%, rgba(228, 242, 248, 0) 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer utilities {
  .font-regular {
    font-weight: 400;
    font-style: normal;
  }

  .font-regular-italic {
    font-weight: 400;
    font-style: italic;
  }

  .font-medium {
    font-weight: 500;
    font-style: normal;
  }

  .font-semibold {
    font-weight: 600;
    font-style: normal;
  }

  .font-bold {
    font-weight: 700;
    font-style: normal;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-fellix);
    background: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
}
