.hero {
  display: flex;
  align-items: center;
  padding: 80px 0 0 0;
  min-height: 480px;
  max-width: 1062px;    
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
}

.pageGradientBg {
  background: var(--gradient-hero-bg);
}

.heroContent {
  flex: 1 1 50%;
}

.title {
  font-family: var(--font-fellix);
  font-size: 52px;
  font-weight: 600;
  line-height: 56px;
  color: var(--foreground);
  margin-bottom: 40px;
}

.subscribeSection {
  margin-top: 24px;
}

.subscribeLabel {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--foreground);
}

.podcastLinks {
  display: flex;
  gap: 32px;
}

.podcastLink {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--foreground);
  text-decoration: none;
  gap: 8px;
}

.heroImages {
  position: relative;
  width: 400px;
  height: 380px;
  margin-right: 56px;
}

.imageLeft {
  position: absolute;
  left: 35px;
  bottom: 0;
  z-index: 2;
}

.imageCenter {
  position: absolute;
  left: 110px;
  top: 0;
  z-index: 1;
}

.imageRight {
    position: absolute;
    right: -140px;
    bottom: -65px;
    z-index: 2;
}

.podcastLinksMobile {
  display: none;
}

@media (max-width: 376px) {
  .hero {
    flex-direction: column-reverse;
    padding: 0;
    gap: 0;
    justify-content: center;
    align-items: center;
    max-width: 311px;
    margin: 0px auto;
    padding-top: 24px;
  }

  .heroContent {
    margin: 0;
    padding: 0px;
    margin: 0px;
    width: 100%;
    padding-left: 25px;
    padding-right: 10px;
  }

  .title {
    font-size: 27px;
    line-height: 39px;
    font-weight: 600;
    margin-bottom: 24px;
    width: 100%;
  }

  .subscribeLabel {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .podcastLinks {
    display: none;
  }

  .podcastLinksMobile {
    display: flex;
    gap: 26px;
    margin-top: 24px;
    align-items: center;
  }

  .podcastLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
  }

  .heroImages {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .imageLeft {
    width: 150px;
    height: 150px;
    left: -5px;
    bottom: 45px;
  }

  .imageCenter {
    width: 250px;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  .imageRight {
    width: 175px;
    height: 175px;
    right: -20px;
    bottom: 20px;
  }
} 