.latestBlogsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1064px;
  margin-bottom: 10rem;
}

.sectionTitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: var(--primary-dark-2);
  margin-bottom: 32px;
}

.blogsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.blogCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}

.blogImageWrapper {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
  position: relative;
}

.blogImage {
  object-fit: cover;
}

.blogMetaRow {
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 8px;
  width: 100%;
}

.categorySales {
  color: var(--blue);
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}
.categoryProduct {
  color: var(--pink);
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}
.categoryLife {
  color: var(--green);
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}

.metaDot {
  width: 5px;
  height: 5px;
  background: var(--gray-30);
  border-radius: 50%;
  margin: 0 8px;
  display: inline-block;
}

.readTime {
  color: var(--gray-30);
  font-weight: 500;
}

.blogTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-dark-2);
  margin: 0 0 8px 0;
  line-height: 27px;
}

.blogDescription {
  color: var(--gray-30);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 376px) {
  .latestBlogsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 311px;
  }

  .sectionTitle {
    text-align: left;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    width: 100%;
  }

  .blogsGrid {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }

  .blogCard {
    width: 100%;
  }

  .blogImageWrapper {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .blogMetaRow {
    margin-top: 16px;
  }

  .blogTitle {
    font-size: 20px;
    line-height: 28px;
    margin-top: 12px;
  }

  .blogDescription {
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
} 